<%- include('includes/head') %> <%- include('includes/nav') %>

<container class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-4">
      <h1 class="text-center">Contacts Manager</h1>
      <p class="text-center lead">
        Save your contacts details and remain organised
      </p>

      <div class="responsive-table">
        <table class="table my-2">
          <tr>
            <td>Miguel</td>
            <td>Remédios</td>
            <td>12321312234</td>
            <td>miguelremediioss@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</container>

<%- include('includes/footer') %>
